<!-- include header -->
<% include ../partials/header %>

<div class="row justify-content-center">
	<div class="col-xs-12 col-md-8 col-lg-6">
		<h1 class="text-center">Adicionar novo comentário em <em><%= campground.name %></em></h1>
		<form class="form-signin" action="/campgrounds/<%= campground._id %>/comments" method="POST">
			
			<div class="input-group">
				<textarea class="form-control" rows="5" aria-describedby="inputComment" name="comment[text]" placeholder="Comente aqui..." required autofocus></textarea>
			</div>
			<button class="btn btn-lg btn-success btn-block" type="submit">Enviar <i class="fas fa-arrow-alt-circle-right"></i></button>
		</form>
		<div class="form-signin">
			<a href="/campgrounds"><i class="fas fa-arrow-left"></i> Voltar</a>
		</div>
	</div>		
</div>

<!-- include footer -->
<% include ../partials/footer %>