<!-- include header -->
<% include ../partials/header %>

<div class="row justify-content-center">
	<div class="col-xs-12 col-md-8 col-lg-6">
		<h1 class="text-center">Create a New Campground</h1>
		<form class="form-signin" action="/campgrounds" method="POST">
			
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputName"><i class="fas fa-campground"></i></span>
				</div>
				<input class="form-control" type="text" name="name" aria-describedby="inputName" placeholder="Name" required autofocus>
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputPrice"><i class="fas fa-money-bill-wave"></i></span>
				</div>
				<input class="form-control" type="number" name="price" aria-describedby="inputPrice" placeholder="Price" min="0.01" step="0.01" required>
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputImage"><i class="fas fa-camera"></i></span>
				</div>
				<input class="form-control" type="text" name="image" aria-describedby="inputImage" placeholder="Campground Image URL">
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputLocation"><i class="fas fa-map-marked-alt"></i></span>
				</div>
				<input class="form-control" type="text" name="location" aria-describedby="inputLocation" placeholder="Campground Location/City/Address" required>
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputDescription"><i class="fas fa-pencil-alt"></i></span>
				</div>
				<textarea class="form-control" rows="5" id="inputDescription" name="description" placeholder="Description here..." required></textarea>
			</div>
			<button class="btn btn-lg btn-success btn-block" type="submit">Submit <i class="fas fa-arrow-alt-circle-right"></i></button>	
		</form>
		<div class="form-signin">
			<a href="/campgrounds">Go Back</a>
		</div>
	</div>		
</div>

<!-- include footer -->
<% include ../partials/footer %>